*~
*.bak
*.swp
.idea/
.settings/
.project

/build/node_modules

/js/.version

/protected/tests/report/*

/protected/config/db.php
/protected/config/production.php
/protected/config/platron.php
