
/*   -=========== Buttons ===========-   */

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

// Sizes

.wide-btn {
  width: 100%;
}


.ias-trigger-prev {

}