RewriteEngine on
RewriteRule ^index\.php  - [L]
# dev
RewriteRule _intellij_phpunit_launcher\.php  - [L]
RewriteRule !\.(gif|css|jpg|jpeg|png|ico|txt|js|xls|pdf|dtd|fck|csv|doc|rtf|swf|flv)$ /backend/index.php