
/*   -=========== Utils ===========-   */

@mixin size($value) {
  @if length($value) > 1 {
    width: nth($value, 1);
    height: nth($value, 2);
  }

  @else {
    width: $value;
    height: $value;
  }
}

@mixin position($position, $coords) {
  $coords: (
    top: nth($coords, 1),
    right: nth($coords, 2),
    bottom: nth($coords, 3),
    left: nth($coords, 4)
  );

  position: $position;

  @each $coord, $value in $coords {
    @if is-length($value) {
      #{$coord}: $value;
    }
  }
}

@mixin clearfix() {
  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin hide-text {
  text-indent: -9999em;
  overflow: hidden;
}

@mixin triangle($width, $height, $color, $direction) {
  width: 0;
  height: 0;
  border-style: solid;

  @if $direction == 'top' {
    border-width: 0 ($width / 2) $height ($width / 2);
    border-color: transparent transparent $color transparent;
  }

  @if $direction == 'right' {
    border-width: ($height / 2) 0 ($height / 2) $width;
    border-color: transparent transparent transparent $color;
  }

  @if $direction == 'bottom' {
    border-width: $height ($width / 2) 0 ($width / 2);
    border-color: $color transparent transparent transparent;
  }

  @if $direction == 'left' {
    border-width: ($height / 2) $width ($height / 2) 0;
    border-color: transparent $color transparent transparent;
  }
}


/*   -=========== Prefixes ===========-   */

@mixin transform($value) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -ms-transform-origin: $value;
  transform-origin: $value;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin filter($filter, $value) {
  -webkit-filter: $filter#{unquote("("#{$value}")")};
  filter: $filter#{unquote("("#{$value}")")};
}

@mixin animation($value) {
  -webkit-animation: $value;
  animation: $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin noselect() {
  @include user-select(none);
}

@mixin borderbox() {
  @include box-sizing(border-box);
}

@mixin flexbox() {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flexinline() {
  display: -ms-inline-flex;
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin flex($number) {
  -ms-flex: $number;
  -webkit-flex: $number;
  flex: $number;
}

@mixin flexdirection($direction) {
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}