
/*   -=========== Utils ===========-   */

@mixin size($value) {
  @if length($value) > 1 {
    width: nth($value, 1);
    height: nth($value, 2);
  }

  @else {
    width: $value;
    height: $value;
  }
}

@mixin position($position, $coords) {
  $coords: (
    top: nth($coords, 1),
    right: nth($coords, 2),
    bottom: nth($coords, 3),
    left: nth($coords, 4)
  );

  position: $position;

  @each $coord, $value in $coords {
    @if is-length($value) {
      #{$coord}: $value;
    }
  }
}

@mixin clearfix() {
  &:before, &:after {
    content: '';
    display: table;
    clear: both;
  }
}