
/*   -=========== Structure ===========-   */

// Base

body {
  display: table;
  width: 100%;
}

#structure {
  display: table-row;
  height: 100%;
  margin: auto;
  position: relative;
}

.footer {
  position: relative;
}


// Header

.header {
  position: relative;
  height: $header-height;
}

.header--logo {

}

.header--phones {

}

.header--search {

}


// Footer

.footer--phones {

}
