
/*   -=========== Const ===========-   */

// Colors

$white = #fff;
$black = #000;
$red = #ef8c8c;

$body-bg = $white;
$text-color = $black;
$warning-color = $red;
$link-color = $black;
$hovered-link-color = $black;


// Fonts

$font-family = sans-serif;
$root-font-size = 10px;
$root-mobile-font-size = $root-font-size;
$font-size = 1.6rem;
$line-height = 1.2;

$thin = 100;
$light = 300;
$medium = 500;


// Structure

$wrapper-width = 1250px;
$header-height = 150px;
$footer-height = 200px;


// Media queries

$small-mobile-width = 480px;
$mobile-width = 800px;
$tablet-width = 1024px;
$small-notebook-width = 1200px;
$notebook-width = 1400px;