
/*   -=========== Const ===========-   */

// Colors

$white: #fff;
$black: #000;
$red: #ef8c8c;

$body-bg: $white;
$text-color: $black;
$warning-color: $red;
$link-color: $black;
$hovered-link-color: $black;


// Fonts

$font-family: sans-serif;
$font-size: 14px;
$line-height: 1.2em;


// Structure

$wrapper-width: 1250px;
$header-height: 150px;
$footer-height: 200px;


/*   -=========== Imports ===========-   */

@import "mixins";

@import "vendor/alertify";
@import "vendor/selectric";
@import "vendor/perfect-scrollbar";
@import "vendor/tosrus/jquery.tosrus.all";

@import "overrides"; // override vendor styles

@import "base/resets";
@import "base/typography";
@import "base/buttons";
@import "base/layout";
@import "base/print";

@import "components/forms";
@import "components/menus";
@import "components/popups";
@import "components/carousels";

@import "pages/homepage";
@import "pages/contacts";
@import "pages/errors";

@import "structure";