
/*   -=========== Const ===========-   */

// Colors

$white: #fff;
$black: #000;
$red: #ef8c8c;

$body-bg: $white;
$text-color: $black;
$warning-color: $red;
$link-color: $black;
$hovered-link-color: $black;


// Fonts

$font-family: sans-serif;
$root-font-size: 10px;
$root-mobile-font-size: $root-font-size;
$font-size: 1.6rem;
$line-height: 1.2;

$light: 300;
$thin: 100;


// Structure

$wrapper-width: 1250px;
$header-height: 150px;
$footer-height: 200px;


// Media queries

$small-mobile-width: 480px;
$mobile-width: 800px;
$tablet-width: 1024px;
$small-notebook-width: 1200px;
$notebook-width: 1400px;


/*   -=========== Imports ===========-   */

@import "mixins";

@import "vendor/alertify";
@import "vendor/selectric";
@import "vendor/perfect-scrollbar";
@import "vendor/tosrus/jquery.tosrus";

@import "overrides"; // override vendor styles

@import "base/resets";
@import "base/typography";
@import "base/layout";
@import "base/print";

@import "components/buttons";
@import "components/forms";
@import "components/menus";
@import "components/popups";
@import "components/carousels";

@import "pages/homepage";
@import "pages/contacts";
@import "pages/errors";

@import "structure";