
/*   -=========== Contact ===========-   */

.contacts {}

.contacts--map {
  position: relative;

  > .map {
    @include size(100% 515px);
  }
}

.contacts--panel {
  @include position(absolute, 50% null null 50%);
  @include transform(translateY(-50%));
  width: 345px;
  padding: 15px 0;
  margin-left: -625px;
  background: $white;
  z-index: 15;

  @media only screen and (max-width: 1350px) {
    left: 55%;
  }

  > .group {
    font-size: 14px;
    margin: 0 15px;
    line-height: 1.3em;

    > p {
      padding-left: 34px;
    }
  }

  .icon {
    $icons: 'pin', 'phone', 'email', 'link';

    @include size(26px);
    background-repeat: no-repeat;
    background-position: 50%;

    @each $icon in $icons {
      &.#{$icon} {
        background-image: url(/i/small-#{$icon}-white.png);
      }
    }
  }
}