<phpunit bootstrap="bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<!--<selenium>
		<browser name="Internet Explorer" browser="*iexplore" />
		<browser name="Firefox" browser="*firefox" />
	</selenium>-->

    <!--<logging>
        <log type="coverage-html" target="report" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>-->

    <!--<listeners>
        <listener class="ClearTestsListener" file="scripts/ClearTestsListener.php">
        </listener>
    </listeners>-->

</phpunit>
