// Colors section
$black: #000;
$white: #fff;
$red: #d51c21;

$body-background: #fff;
$text-color: #000;
$link-color: #000;
$hovered-link-color: #000;

// Fonts section
$fonts: #{Tahoma, Verdana, Arial, Helvetica, sans-serif};
$text-size: 11px;

// Structure
$wrapper-width: 990px;
$footer-height: 90px;