/*   -=========== Useful classes ===========-   */
.hova a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.unhova a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.nova a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.left {
  float: left;
  margin: 0 15px 10px 0; }
.right {
  float: right;
  margin: 0 0 10px 15px; }
.fl {
  float: left; }
.fr {
  float: right; }
.auto {
  width: 100%;
  height: auto; }

.mrk1 {
  background: url(mrk1.gif) no-repeat 0 4px;
  padding-left: 12px; }

.hr1 {
  background: #000000;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  margin: 10px 0 15px 0; }

.l-main {
  float: left;
  width: 49%;
  margin-right: 2%; }
.r-main {
  float: left;
  width: 49%; }

.block-center {
  overflow: hidden;
  position: relative;
  width: 100%; }
.block-center-div {
  position: relative;
  float: left;
  left: 50%; }
.block-center-div-div {
  position: relative;
  float: left;
  right: 50%; }

.text-container:before, .text-container:after, .nofloat:before, .nofloat:after {
  content: " ";
  display: table; }
.text-container:after, .nofloat:after {
  clear: both; }
.text-container {
  margin-bottom: 10px; }
.no-overflow {
  overflow: hidden; }
.lt-ie8 .text-container, .lt-ie8 .nofloat {
  zoom: 1; }
.text-container {
  p {
    padding-top: 20px;
    &:first-child {
      padding-top: 0; }
  }
  ul {
    padding-top: 20px;
    li {
      list-style: disc outside;
      margin-bottom: 5px; }
  }
}

.center {
  text-align: center; }
.nowrap {
  white-space: nowrap; }

/*   -=========== Classes for chainable applying ===========-   */
.nn {
  font-weight: normal; }
.bb {
  font-weight: bold; }
@for $i from 0 through 10 {
  .m#{$i * 5} { margin-bottom: 5px * $i; }
}
.m3 {
  margin-bottom: 3px; }
.m7 {
  margin-bottom: 7px; }
@for $i from 8 through 24 {
  .s#{$i} {
    font-size: 1px * $i;
    line-height: 120%;
  }
}