@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow; }
@mixin transition($transition-params) {
  -moz-transition: $transition-params;
  -ms-transition: $transition-params;
  -o-transition: $transition-params;
  -webkit-transition: $transition-params;
  transition: $transition-params; }
@mixin transform($transform-params) {
  -moz-transform: $transform-params;
  -ms-transform: $transform-params;
  -o-transform: $transform-params;
  -webkit-transform: $transform-params;
  transform: $transform-params; }
@mixin border-radius($left, $right:$left, $bright:$left, $bleft:$right) {
  @if $left == $bleft and $left == $right and $left == $bright {
    -webkit-border-radius: $left;
    -moz-border-radius: $left;
    border-radius: $left;
  } @else {
      @if $left > 0 {
        -webkit-border-top-left-radius: $left;
        -moz-border-radius-topleft: $left;
        border-top-left-radius: $left;
      }
      @if $right > 0 {
        -webkit-border-top-right-radius: $right;
        -moz-border-radius-topright: $right;
        border-top-right-radius: $right;
      }
      @if $bright > 0 {
        -webkit-border-bottom-right-radius: $bright;
        -moz-border-radius-bottomright: $bright;
        border-bottom-right-radius: $bright;
      }
      @if $bleft > 0 {
        -webkit-border-bottom-left-radius: $bleft;
        -moz-border-radius-bottomleft: $bleft;
        border-bottom-left-radius: $bleft;
      }
  }
}